# PostgreSQL data
postgres_data/

*.env
.fastapicloud/
.pytest_cache/
.ruff_cache/
.vscode/
*.md
*.txt
backlog.md
*.DS_Store
test_api.py

# Celery
celerybeat-schedule
celerybeat.pid

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
